button{
  margin-right: 5px;
}

img{
  margin-right: 8px;
  margin-bottom: 8px;
  width: 200px;
}

table{
  border: 0;
  /*    background-color: beige; */
  margin-top: 20px;
}

tr{
  vertical-align: top;
}

td{
  width: 208px;
}

#container{
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;

  /*    background-color: aliceblue; */
}

.btn-select{
  color: white;
  background-color: gray;
}